* {
  font-family: 'Ubuntu', sans-serif;
}

.dir_div-cad {
  width: 500px;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.3);
  border-radius: 14px;
}

.dir_div-log {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 5%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.3);
  border-radius: 14px;
}

.dir_content-cad, .dir_content-log {
  text-align: center;
}

.dir_content-cad a, .dir_content-log a {
  font-size: 12px;
}

.modalBox {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modalContent {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px;
          box-shadow: 0 2px 4px;
  padding: 30px 50px;
  width: 501;
  height: 361;
  max-width: 100%;
  margin: auto;
}

.modalBoxRec {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modalContentRec {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px;
          box-shadow: 0 2px 4px;
  padding: 30px 50px;
  width: 501;
  height: 361;
  max-width: 100%;
}

.modalBoxRec a {
  margin-left: 100%;
}

.modalBoxRed {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modalContentRed {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px;
          box-shadow: 0 2px 4px;
  padding: 30px 50px;
  width: 501;
  height: 361;
  max-width: 100%;
}

.modalContent a, .modalContentRed a, .modalContentRed a {
  margin-left: 100%;
}

button {
  background: #C94A21;
  border-radius: 7px;
  color: white;
  border: none;
  width: 200px;
  height: 25px;
}

input[type="text"], input[type="password"] {
  background: #E5E5E5;
  border-radius: 7px;
  border: none;
  width: 200px;
  height: 25px;
}

h1, a {
  color: #C94A21;
}

button {
  text-align: center;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #a86b57;
}

button:active {
  background-color: #e74712;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

img {
  width: 150px;
  height: 150px;
}
/*# sourceMappingURL=style.css.map */